@import "src/assets/styles/variables";

.chat {
    &__messages {
        display: grid;
        gap: 1rem;
        grid-template-rows: max-content;
        grid-auto-rows: max-content;
        align-items: baseline;
        justify-items: baseline;
    }

    &__no-messages {
        width: fit-content;
        margin: auto;
    }

    &__input {
        --focus-color: #{$color-accent-light};

        position: absolute;
        bottom: 2rem;
        width: 100%;
        max-width: 50rem;
        left: 50%;
        transform: translateX(-50%);

        min-height: 3.5rem;
        
        input {
            position: absolute;
            width: 100%;
            border: none;
            background-color: $color-primary;
            height: 100%;
            border-radius: 3rem;
            padding: 0 3rem 0 2rem;
            color: var(--focus-color);
            font-size: 1.4rem;
        }

        input:focus {
            border: none;
            outline: none;
        }

        input:focus ~ button {
            color: var(--focus-color);
        }

        input:focus + .chat__input-animation {
            transform: scaleX(1);
        }
    }

    &__input-animation {
        position: absolute;
        display: block;
        inset: 0;
        outline: 1px solid var(--focus-color);
        border-radius: 3rem;
        z-index: -1;

        transform: scaleX(0);
        transform-origin: center;
        transition: transform .2s;
    }

    &__input-send {
        position: absolute;
        background: transparent;
        outline: none;
        border: none;
        right: 1.5rem;
        height: 100%;
        width: 3rem;
        cursor: pointer;

        color: $color-accent;
        transition: color .2s;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: var(--focus-color);
        }
    }
}