@import "src/assets/styles/variables";

.chat {
    &__messages {
        display: grid;
        gap: 1rem;
        grid-template-rows: max-content;
        grid-auto-rows: max-content;
        align-items: baseline;
        justify-items: baseline;
    }

    &__no-messages {
        width: fit-content;
        margin: auto;
    }
}