@import "src/assets/styles/variables";

.chat {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    height: 100%;

    &__messages {
        display: grid;
        gap: 1rem;
        grid-template-rows: max-content;
        grid-auto-rows: max-content;
        align-items: baseline;
        justify-items: baseline;

        overflow: auto;
        padding: 1rem;
    }

    &__no-messages {
        width: fit-content;
        margin: auto;
    }
}