@import '../../assets/styles/variables';
@import '../../assets/styles/animations';

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color-primary;
    border-radius: $border-radius-normal;

    padding: 1rem 13rem;
    text-align: center;
    display: grid;
    justify-items: center;
    gap: 2rem;
    color: $color-netrual-lighter;

    &__title {
        display: grid;
        gap: .5rem;
        grid-column: 1 / -1;
        font-size: 2rem;

        &--sub {
            font-size: 1.4rem;
        }
    }

    &__submit-btn {
        position: relative;
        border: none;
        outline: none;
        background-color: $color-accent;
        padding: 1rem 2rem;
        border-radius: $border-radius-normal;
        cursor: pointer;

        &:hover {
            background-color: rgba($color-accent-light, .7);
        }

        &--invalid, &--loading { 
            pointer-events: none;
            overflow: hidden;

            &::after {
                position: absolute;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &--invalid::after {
            content: '🚫';
            background: inherit;
            
            animation: no-no-no .2s;
        }

        &--loading::after {
            content: url(../../assets/standalone-icons/button-loading.svg);
            background: inherit;
            
            padding-top: 3px;
            
            animation: scaleIn .5s;
        }

        &--valid::after {
            position: absolute;
            pointer-events: none;
            content: url(../../assets/standalone-icons/checkmark.svg);
            
            right: -3rem;
            top: .8rem;
            
            animation: fadeInRight .2s, fadeOut 1s ease 2.5s forwards;
        }
    }
}
