$color-primary: #21262a;
$color-primary-light: #2e353b;
$color-primary-lighter: #3b444c;
$color-primary-dark: #1a1e22;
$color-primary-darker: #141619;

$color-accent: #7d530a;
$color-accent-light: #af740d; 
$color-accent-lighter: #e19511;
$color-accent-dark: #644208;
$color-accent-darker: #322104; 

$color-netrual: #2f5960;
$color-netrual-light: #427c86;
$color-netrual-lighter: #559fac;
$color-netrual-dark: #26474c;
$color-netrual-darker: #132326;

$font-family: 'Quicksand', sans-serif;