$color-primary: #F2F0E4;
$color-primary-light: #f0efe8;
$color-primary-lighter: #f8f7f3;
$color-primary-dark: #cdcabd;
$color-primary-darker: #d8d6c8;

$color-secondary: #F25F05;
$color-secondary-light: #ed6c1c; 
$color-secondary-lighter: #ef945b;
$color-secondary-dark: #e05601;
$color-secondary-darker: #b44602; 

$color-netrual: #1e2328;
$color-netrual-light: #2e363d;
$color-netrual-lighter: #4f5963;
$color-netrual-dark: #0d0e0f;
$color-netrual-darker: #080808;

$font-family: 'Quicksand', sans-serif;