@import 'src/assets/styles/variables';

.message {
    justify-self: end;

    background: linear-gradient(45deg, $color-accent, $color-accent-light);
    color: $color-primary-dark;
    border-radius: 2.5rem;
    
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    flex-direction: row-reverse;
    
    &__sender {
        border-radius: 100%;
        overflow: hidden;
        background: $color-netrual-dark;
        color: #fff;
        width: 2rem;
        aspect-ratio: 1;
        flex-shrink: 0;

        transform: translate(.5rem, -.5rem);
    }
    
    &__text {
        padding: .7rem;
        padding-right: 0;
        font-size: 1.3rem;
    }

    &--me {
        justify-self: start;
        flex-direction: row;
        
        .message__sender {
            transform: translate(-.5rem, -.5rem);
        }

        .message__text {
            padding-left: 0;
            padding-right: .7rem;
        }
    }
}