@import 'src/assets/styles/variables';

.message {
    justify-self: end;

    background: linear-gradient(45deg, $color-accent, $color-accent-light);
    color: $color-primary-dark;
    border-radius: 2.5rem;
    
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: row-reverse;
    
    &__sender {
        border-radius: 100%;
        padding: .7rem 1rem;
        background: $color-netrual-dark;
        color: #fff;

        transform: translate(.5rem, -.5rem);
    }
    
    &__text {
        padding: .7rem 2rem;
        font-size: 1.3rem;
    }
}